@font-face {
    font-family: 'eastmarketregular';
    src: url('/fonts/EastMarket-webfont.eot'),
        url('/fonts/EastMarket-webfont.eot?#iefix') format('embedded-opentype'),
        url('/fonts/EastMarket-webfont.woff') format('woff'),
        url('/fonts/EastMarket-webfont.ttf') format('truetype'),
        url('/fonts/EastMarket-webfont.svg#eastmarketregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'elementarygothic';
    src: url('/fonts/Elementary-Gothic-Bookhand.ttf.eot'),
        url('/fonts/Elementary-Gothic-Bookhand.ttf.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Elementary-Gothic-Bookhand.ttf.woff') format('woff'),
        url('/fonts/Elementary-Gothic-Bookhand.ttf') format('truetype'),
        url('/fonts/Elementary-Gothic-Bookhand.ttf.svg#eastmarketregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'aaarghnormal';
	src: url('/fonts/aaargh_normal_macroman/Aaargh-webfont.eot');
	src: url('/fonts/aaargh_normal_macroman/Aaargh-webfont.eot?iefix') format('eot'),
	     url('/fonts/aaargh_normal_macroman/Aaargh-webfont.woff') format('woff'),
	     url('/fonts/aaargh_normal_macroman/Aaargh-webfont.ttf') format('truetype'),
	     url('/fonts/aaargh_normal_macroman/Aaargh-webfont.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
	font-family: 'Raleway';
	src: url('/fonts/Raleway/Raleway.eot');
	src: url('/fonts/Raleway/Raleway.eot?iefix') format('eot'),
	     url('/fonts/Raleway/Raleway.woff') format('woff'),
	     url('/fonts/Raleway/Raleway.ttf') format('truetype'),
	     url('/fonts/Raleway/Raleway.svg#webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'amerikaregular';
    src: url('/fonts/amerika_regular_macroman/AMERIKA_-webfont.eot');
    src: url('/fonts/amerika_regular_macroman/AMERIKA_-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/amerika_regular_macroman/AMERIKA_-webfont.woff') format('woff'),
         url('/fonts/amerika_regular_macroman/AMERIKA_-webfont.ttf') format('truetype'),
         url('/fonts/amerika_regular_macroman/AMERIKA_-webfont.svg#amerikaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
