/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: url('/assets/woodbg.jpg');
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container .jumbotron .head {
  font-family: 'elementarygothic';
  font-size: 2em;
  min-height: inherit;
  max-width: inherit;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  background: #eee;
}

.container .jumbotron .sub {
  padding-top: 20px;
}

.container .body {
  margin: inherit;
  min-height: inherit;
  max-width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  background: white;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  border-color: #777;
  border-style: solid;
  background-image: url('/assets/wood_study_3_by_devin_busha.jpg');
}

.navbar .navbar-nav {
  background-image: url('/assets/scratched_steel_texture_by_aarondesign.jpg');
  background-repeat: repeat;
  font-family: 'elementarygothic';
}

.navbar .navbar-nav > li > a {
  color: #333;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row .content {
  height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row .content {height:auto;}
}

@media all and (max-width: 2000px) {
  .container .jumbotron { font-size: 1.6em; }
}

@media all and (max-width: 1300px) {
  .container .jumbotron { font-size: 1.4em; }
}

@media all and (max-width: 1000px) {
  .container .jumbotron { font-size: 1.0em; }
}

@media all and (max-width: 700px) {
  .container .jumbotron { font-size: 0.8em; }
}

@media all and (max-width: 575px) {
  .container .jumbotron { font-size: 0.5em; }
}

header {
  padding: 20px ;
}

#login-buttons {
  display: block;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
