<head>
    <title>Frugal Bard's - Home</title>
    <link href="navbar-fixed-top.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
</body>

<template name="Home">
    <div class="container">
      <div class="jumbotron">
        <div class="head">
            <a href="/">Frugal Bard's Decks and Cards</a>
            <div class="sub">
                <p>Welcome!</p>
            </div>
          </div>
      </div>
    </div>
</template>
