<head>
    <title>Archetype: </title>
</head>

<body></body>

<template name="deckNArch">
    {{>yield "mtgDecksTemp"}}
    {{>yield "mtgArchsTemp"}}
</template>

<template name="mtgSArch">
<br>
    <div class="container">
        <div class="body">
        <header>
            <h1>Archetype: </h1>
        </header>
        <div class="row">
            {{#each archGetD}}
                {{> deckName}}
            {{/each}}
        </div>
      </div>
    </div>
</template>

<template name="deckName">
    <div class="col-md-4"><a href="/mtgSDeck/{{_id}}">{{name}}</a></div>
</template>
