<head>
    <title>Archetype: </title>
</head>

<body>
</body>

<template name="deckNArch">
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-9">
                {{>yield "mtgDecksTemp"}}
            </div>
            <div class="col-sm-3 sidenav">
                {{>yield "mtgArchsTemp"}}
                <ul class="nav nav-pills nav-stacked pre-scrollable">
                    {{#each archGetD}}
                        {{> deckName}}
                    {{/each}}
                </ul><br>
            </div>
        </div>
    </div>
</template>

<template name="mtgSArch">
            <h4>Other similar decks: </h4>
              <ul class="nav nav-pills nav-stacked pre-scrollable">
                {{#each archGetD}}
                  {{> deckName}}
                {{/each}}
              </ul>
    <br>
</template>

<template name="deckName">
    <li>
      <a href="/mtgSArch/{{parent}}/{{_id}}" class="btn btn-link" role="btn">${{totalprice}}</a>
    </li>
</template>
