<head>
    <title>Archetype: </title>
</head>

<body></body>

<template name="mtgSArch">
    <div class="nav">
        {{> Nav}}
    </div>
<br>
    <div class="container">
        <div class="body">
        <header>
            <h1>Archetype: </h1>
        </header>

        <ul>
            {{#each archGetD}}
                {{> deckName}}
                {{/each}}
        </ul>
    </div>
    </div>
</template>

<template name="deckName">
    <li><a href="/mtgSArch">{{hello}}</a></li>
</template>
