<head>
    <title>Deck Archetypes</title>
</head>

<body></body>

<template name="mtgprices">
    <div class="container">
        <div class="jumbotron">
            <div class="head">
              Deck Archetypes
            </div>
          <hr>
          <div class="container">
            <div class="row">
                {{#each archetypes}}
                    {{> archetype1}}
                {{/each}}
            </div>
          </div>
        </div>
    </div>
</template>

<template name="archetype1">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <a href="/mtgSArch/{{nameEncoded}}" class="btn btn-link" role="button">{{name}}</a>
    </div>
</template>
